{% extends 'temp/snipest/base.html' %}
{% load static %}
{% block contentbase %}

<!-- Page Header Start -->
<div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Price</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Home</a>
                        <a href="">Price</a>
                    </div>
                </div>
            </div>
        </div>
<!-- Page Header End -->

{% include 'temp/snipest/price.html' %}
 {% include 'temp/snipest/discount.html' %}
{% endblock contentbase %}