<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
        <meta charset="utf-8">
        <title>Learing Portal- LMS</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free Website Template" name="keywords">
        <meta content="Free Website Template" name="description">

        <!-- Favicon -->
        <link href="{% static '' %}img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static '' %}temp/lib/animate/animate.min.css" rel="stylesheet">
        <link href="{% static '' %}temp/lib/flaticon/font/flaticon.css" rel="stylesheet">
        <link href="{% static '' %}temp/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="{% static '' %}temp/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
{#        <link href="{% static 'student/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>#}
{#        <link href="{% static 'student/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>#}
        <link href="{% static '' %}temp/css/style.css" rel="stylesheet">
        {% block css %}

        {% endblock css %}
    </head>

<body>
        <!-- Top Bar Start -->
        <div class="top-bar d-none d-md-block">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="top-bar-left">
                            <div class="text">
                                <i class="far fa-clock"></i>
                                <h2>8:00 - 9:00</h2>
                                <p>Mon - Fri</p>
                            </div>
                            <div class="text">
                                <i class="fa fa-phone-alt"></i>
                                <h2>+923 0604 93989</h2>
                                <p>For Other Info</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="top-bar-right">
                            <div class="social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Bar End -->

        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
                <a href="/" class="navbar-brand">Learing <span>Portal</span></a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="/" class="nav-item nav-link active">Home</a>
                        <a href="{% url 'shopping_cart:allcourse' %}" class="nav-item nav-link">Lecture</a>
                        <a href="{% url 'team' %}" class="nav-item nav-link">Teacher</a>
                        <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                        <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
                        {% if user.is_authenticated %}
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{ user.username }}</a>
                                <div class="dropdown-menu">
                                    <a href="" class="dropdown-item">Profile</a>
                                    <a href="{% url 'index' %}" class="dropdown-item">Dashboard</a>
                                    <a href="{% url 'inbox' %}" class="dropdown-item">Inbox{% if directs_count %}<span class="new badge red">{{ directs_count }}</span>{% endif %}</a>
                                    <a href="{% url 'logout' %}" class="dropdown-item">LogOut</a>
                                </div>
                            </div>
                            {% else %}
                        <a href="{% url 'login' %}" class="nav-item nav-link">Login/Signup</a>
                        {% endif %}
                </div>
                    </div>
            </div>
        </div>
        <!-- Nav Bar End -->
        {% block contentbase %}

        {% endblock contentbase %}


        <!-- Footer Start -->
        <div class="footer wow fadeIn" data-wow-delay="0.3s">
            <div class="container-fluid">
                <div class="container">
                    <div class="footer-info">
                        <a href="{% url 'indexshow' %}" class="footer-logo">Learing <span>Portal</span> - LMS</a>
                        <h3>Model Town Lahore</h3>
                        <div class="footer-menu">
                            <p>+923 0604 93989</p>
                            <p>abtechsol09@gmail.com</p>
                        </div>
                        <div class="footer-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="container copyright">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; <a target="_blank" href="https://techsol.herokuapp.com/">TechSol</a>, All Right Reserved.</p>
                        </div>
                        <div class="col-md-6">
                            <p>Designed By <a target="_blank" href="https://techsol.herokuapp.com/">TechSol</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static '' %}temp/lib/easing/easing.min.js"></script>
        <script src="{% static '' %}temp/lib/wow/wow.min.js"></script>
        <script src="{% static '' %}temp/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="{% static '' %}temp/lib/isotope/isotope.pkgd.min.js"></script>
        <script src="{% static '' %}temp/lib/lightbox/js/lightbox.min.js"></script>

        <!-- Contact Javascript File -->
        <script src="{% static '' %}temp/mail/jqBootstrapValidation.min.js"></script>
        <script src="{% static '' %}temp/mail/contact.js"></script>

        <!-- Template Javascript -->
        <script src="{% static '' %}temp/js/main.js"></script>
        <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
        <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
    {% block js %}

    {% endblock js %}
    </body>

</html>
